<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Magazin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="translate-init.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <link rel="stylesheet" href="reset-google-translate-style.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link rel="manifest" href="/manifest.json"/>
    <%= stylesheet_link_tag 'frontend' %>
    <%= javascript_pack_tag 'frontend' %>
  </head>

  <body>
  </body>
</html>
