<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rails Vue Template</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <%= stylesheet_link_tag 'frontend' %>
    <%= javascript_pack_tag 'frontend' %>
  </head>

  <body>
  </body>
</html>
